@using EcommerceDemoWeb.Controllers
@model OrderHeader
<form method="post" asp-action="Edit">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Edit Category</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Seller" asp-action="Index" class="btn btn-primary">
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
        </div>
      
    </div>
    <div class="border p-2 mt-2">

        <div class="mb-3">
            <label asp-for="OrderStatus"></label>
            <select asp-for="OrderStatus" class="form-select">
				<option value="Approved">Approved</option>
                <option value="Completed">Completed</option>
                <option value="Processing">Processing</option>
                <option value="Shipped">Shipped</option>
                <option value="Cancelled">Cancelled</option>
                <option value="Refunded">Refunded</option>   
			</select>
            <span asp-validation-for="OrderStatus" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Update</button>
      
    </div>
</form>


@section Scripts{
    @{<partial name="_ValidationScriptsPartial"/>}
}
