@using EcommerceDemoWeb.Models
@model Product
<form method="post">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Create Product</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Product" asp-action="Index" class="btn btn-primary">
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
        </div>

    </div>
    <div class="border p-2 mt-2">

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>

            <label asp-for="Description"></label>
            <input asp-for="Description" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>

            <label asp-for="Brand"></label>
            <input asp-for="Brand" class="form-control" />
            <span asp-validation-for="Brand" class="text-danger"></span>

             <label asp-for="ProductId"></label>
            <input asp-for="ProductId" class="form-control" />
            <span asp-validation-for="ProductId" class="text-danger"></span>

            <label asp-for="ListPrice"></label>
            <input asp-for="ListPrice" class="form-control" />
            <span asp-validation-for="ListPrice" class="text-danger"></span>

            <label asp-for="ImageUrl"></label>
            <input asp-for="ImageUrl" class="form-control" />
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
@*
            <label asp-for="CategoryName"></label>
            <select asp-for="CategoryName" asp-items="ViewBag.CategoryList" class="form-select"><option disabled selected>Select Category</option></select>
            <span asp-validation-for="CategoryName" class="text-danger"></span>

            <label asp-for="SellerName"></label>
            <select asp-for="SellerName" asp-items="ViewBag.SellerList" class="form-select"><option disabled selected>Select Seller</option></select>
            <span asp-validation-for="SellerName" class="text-danger"></span>*@

            
            <label asp-for="CategoryName"></label>
			<select asp-for="CategoryName" asp-items="@ViewBag.CategoryList" class="form-select">
				<option disabled selected>--Select Category--</option>
			</select>
			<span asp-validation-for="CategoryName" class="text-danger"></span>

              <label asp-for="SellerName"></label>
			<select asp-for="SellerName" asp-items="@ViewBag.SellerList" class="form-select">
				<option disabled selected>--Select Category--</option>
			</select>
			<span asp-validation-for="SellerName" class="text-danger"></span>

        </div>

        <button type="submit" class="btn btn-primary">Create</button>

    </div>
</form>


@section Scripts{
    @{
    <partial name="_ValidationScriptsPartial" />
}
}
