@using EcommerceDemoWeb.Controllers
@model Seller
<form method="post">
    <div class="container p-3">
        <div class="row pt-4">
            <div class="col-6">
                <h2 class="text-primary">Create Seller</h2>
            </div>
            <div class="col-6 text-end">
                <a asp-controller="Seller" asp-action="Index" class="btn btn-primary">
                    <i class="bi bi-x-lg"></i>
                </a>
            </div>
        </div>
      
    </div>
    <div class="border p-2 mt-2">

        <div class="mb-3">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
       
        <button type="submit" class="btn btn-primary">Create</button>
      
    </div>
</form>


@section Scripts{
    @{<partial name="_ValidationScriptsPartial"/>}
}
